<h1>Create a new save</h1>
<%= form_for(@savegame) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div class="actions">
		<%= f.submit "Create Save" %>
	</div>
<% end %>